/* Setup */

:root {
  --G-color-accent-1-light: #ffe554;
  --G-color-accent-1-dark: #ffa22f;
  --G-color-neutral: #313a19;
  --G-color-primary: #f2f2f2;
  --G-color-highlight: #dda056;
}

* {
  font-family: Source Code Pro, monospace, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  color: var(--G-color-primary);
  box-sizing: border-box;
}

/* Selectors */

::selection {
  background-color: var(--G-color-highlight);
  color: black;
}

a,
a *,
code,
code *,
blockquote,
#ascii-art {
  color: var(--G-color-accent-1-light);
}

img,
code,
blockquote {
  border: 1px solid var(--G-color-accent-1-light);
}

code,
blockquote,
main {
  padding: 1rem;
}

p code,
ul code {
  display: inline;
  padding: 0;
  white-space: normal;
}

blockquote {
  font-style: italic;
}

body {
  background-color: var(--G-color-neutral);
  overflow-y: scroll !important;
  margin: 0;
}

code {
  word-break: break-all;
  text-wrap: wrap;
  white-space: pre-wrap;
  display: block;
}

hr {
  border-bottom: 1px solid var(--G-color-primary);
  border-top: none;
  border-left: none;
  border-right: none;
}

img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100dvh;
}

:focus-visible {
  outline-color: var(--G-color-highlight);
  outline-width: 1px;
  outline-style: solid;
}

a:visited,
a:visited * {
  color: var(--G-color-highlight);
}

a:active,
a:active * {
  color: var(--G-color-accent-1-dark);
}

#hot-links,
img {
  margin: 1rem 0;
}

.image-link {
  width: fit-content;
  display: block;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  #ascii-art {
    font-size: 2.5vw;
  }
}
